YKPersonalization.pro.user
Makefile
Makefile.Release
Makefile.Debug
src/ui/ui_*.h
build/
deps/
libs/
object_script.yubikey-personalization-gui.Debug
object_script.yubikey-personalization-gui.Release
.*.swp
yubikey-personalization-gui-*.tar.gz
yubikey-personalization-gui-*.tar.gz.sig
